
<% layout('layouts/boilerplate') %>
<body>
    <div class="row form">
        <div class="col-12" style="width: 50%;">
            <h3> Edit Your Listing </h3>
            <form action="/listing/<%= listing._id %>/?_method=PUT" method="post">
                
                <div class="form-element">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" id="" placeholder="<%= listing.title %>" class="form-control">
                </div>
                <div class="form-element">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" id="" placeholder="<%=listing.description%>" class="form-control"></textarea>
                </div>
                <div class="form-element">
                    <label for="image" class="form-label">URL</label>
                    <input type="text" name="listing[image]" id="" placeholder="<%=listing.image%>" class="form-control">
                </div>
                <div class="row">
        
                    <div class="form-element  col-md-5 ">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" id="" placeholder="<%= listing.price %>" class="form-control">
                    </div>
                    <div class="form-element col-md-7">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" id="" placeholder="<%= listing.country %>" class="form-control">
                    </div>
                </div>
                <div class="form-element">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" id="" placeholder="<%= listing.location %>" class="form-control">
                </div>
                <button class="btn btn-dark add-btn">EDIT</button>
            </form>
        </div>
    </div>
</body>
